{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "author_name":"Cloud Custodian",
         "title": "{{ "Policy Name: " + policy['name'] }}",
         "color":"danger",
         "fields":[
            {
               "title":"Account",
               "value":"{{ account }}",
               "short":"True"
            },
            {
               "title":"Region",
               "value":"{{ region }}",
               "short":"True"
            },
            {%- if action.get('violation_desc') -%}
              {
                 "title":"Violation Description",
                 "value":"{{ action.get['violation_desc'] }}"
              },
            {%- endif -%}
            {%- if action.get('violation_desc') -%}
            {
               "title":"Action Description",
               "value":"{{ action['action_desc']}}"
            },
            {%- endif -%}
            {
               "title":"Resources",
               "value":"{%- for resource in resources -%}
                        {{ format_resource(resource, policy['resource']) | replace('\\"', '"') | replace('"', '\\"') + "\n"}}  
                        {%- endfor -%}"
            }
         ]
      }
   ],
   {%- if not recipient.startswith('https://') %}
   "channel":"{{ recipient }}",
   {%- endif -%}
   "username":"Cloud Custodian"
}
